<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Street one</th>
    <th>Street two</th>
    <th>City</th>
    <th>Zipcode</th>
    <th>Age</th>
    <th>Thumbnail</th>
    <th>Active</th>
    <th>Username</th>
    <th>Password</th>
    <th>Reset password token</th>
    <th>Reset password sent at</th>
    <th>Sign in count</th>
    <th>Last sign in at</th>
    <th>Confirmation token</th>
    <th>Confirmation token sent at</th>
    <th>Newsletter opt in</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>
    <td><%= user.street_one %></td>
    <td><%= user.street_two %></td>
    <td><%= user.city %></td>
    <td><%= user.zipcode %></td>
    <td><%= user.age %></td>
    <td><%= user.thumbnail %></td>
    <td><%= user.active %></td>
    <td><%= user.username %></td>
    <td><%= user.password %></td>
    <td><%= user.reset_password_token %></td>
    <td><%= user.reset_password_sent_at %></td>
    <td><%= user.sign_in_count %></td>
    <td><%= user.last_sign_in_at %></td>
    <td><%= user.confirmation_token %></td>
    <td><%= user.confirmation_token_sent_at %></td>
    <td><%= user.newsletter_opt_in %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
